/* :root {
  --light-blue: #2196f3;
  --text-black: #000;
  --text-grey: #757575;
  --background: #2f303a;
  --text-white: #fff;
  --text-grey-dark: #212121;
  --link-grey: rgba(255, 255, 255, 0.6);
  --light-grey: #f5f4fa;
  --border: #ececec;
  --card-border: rgba(238, 238, 238, 1);
  --hero-bg: rgba(196, 196, 196, 1);
  --icon-container: rgba(245, 244, 250, 1);
  --icon-grey: rgba(175, 177, 184, 1);
  --footer-social: rgba(255, 255, 255, 0.1);
  --image-overlay: rgba(47, 48, 58, 0.8);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --close-btn-border: rgba(0, 0, 0, 0.1);
  --pop-up-overlay: rgba(0, 0, 0, 0.2);

  --input-border: rgba(33, 33, 33, 0.2);
  --input-blue: rgba(33, 150, 243, 1);
  --input-lable: rgba(117, 117, 117, 1);
  --input-placeholder: rgba(117, 117, 117, 0.5);
  --form-button-active: rgba(24, 140, 232, 1);
  --subscribe-input-border: rgba(255, 255, 255, 0.3);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* body {
  font-family: Roboto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  font-style: normal;
} */
/* .logo a:visited,
.logo a:active {
  color: inherit;
} */
/* ul {
  margin: 0 0;
  padding: 0 0;
} */

/* .logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17em;
  color: black;
} */
/* .logo:link {
  color: inherit;
} */
/* .logo span {
  color: var(--light-blue);
} */
/* .site-nav .nav-link.current {
  color: var(--light-blue);
  position: relative;
}
.current:after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--light-blue);
  display: block;
  position: absolute;
  top: 78px;
  border-radius: 2px;
} */

/* .nav-link, */
/* .contact-link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
} */
/* .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-grey-dark);
} */
/* .nav-link:hover, */
/* .contact-link:hover,
/* .nav-link:focus, */
/* .contact-link:focus {
  color: var(--light-blue);
} */
/* .contact-link {
  color: var(--text-grey);
} */
/* .hero {
  background-color: var(--hero-bg);
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 600px;
  background: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
} */
/* .hero h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36em;
  color: var(--text-white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: 0;
} */
/* .hero button {
  font-size: 16px;
  line-height: 1.86em;
  color: var(--text-white);
  font-weight: bold;
  background-color: var(--light-blue);
  border: none;
  letter-spacing: 0.06em;
} */
/* .feautures {
  padding-top: 94px;
} */
/* .feautures h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--text-grey-dark);
  text-transform: uppercase;
} */
/* .feautures p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-grey);
  font-style: normal;
} */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/* .doing h2,
.team h2,
.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-grey-dark);
} */
/* .team h3, */
/* .team p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: var(--text-grey-dark);
} */
/* .team {
  background-color: var(--light-grey);
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .team p {
  font-weight: 400;
  color: var(--text-grey);
} */
/* footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background);
} */
/* footer .logo {
  color: var(--text-white);
}
footer .logo:link {
  color: var(--text-white);
} */
/* address a {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71em;
  color: var(--link-grey);
} */
/* .address-link {
  margin-top: 20px;
  width: 231px;
} */
/* .address-link,
.address-link:visited {
  color: var(--text-white);
} */
/* footer a.logo {
  color: var(--text-white);
} */

/* portfolio */
/* .filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  background-color: var(--light-grey);
  color: var(--text-grey-dark);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
} */
/* .filter-btn:hover,
.filter-btn:focus {
  color: var(--text-white);
  background-color: var(--light-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .portfolio-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--text-grey-dark);
} */
/* .portfolio-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: #757575;
} */
/* .portfolio-card a {
  display: inline-block;
  transition: box-shadow 250ms var(--cubic);
} */
/* .portfolio-card a:hover,
.portfolio-card a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
/* .portfolio-card a:hover .portfolio-overlay,
.portfolio-card a:focus .portfolio-overlay {
  transform: translateY(0);
} */
/* header .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  border: none;
} */
/* header .logo {
  display: inline-block;
} */
/* header .site-nav {
  display: flex;
  align-items: center;
} */
/* header .menu, */
/* header .contact-links {
  display: flex;
} */
/* .menu {
  margin-left: 93px;
  padding-left: 0px;
} */
/* .menu li {
  margin-left: 50px;
} */
/* .menu li:first-child {
  margin-left: 0px;
} */
/* header .contact-links {
  margin-left: auto;
} */
/* .contact-links li {
  margin-left: 30px;
} */
/* header .contact-links li:first-child {
  margin-left: 0px;
} */
/* header {
  border-bottom: 1px solid var(--border);
} */
/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
/* .hero h1 {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
} */
/* .hero button {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
/* .feautures-list {
  display: flex;
  margin-left: -30px;
} */
/* .feauture {
  flex-basis: calc(100% / 4 - 20px);
  margin-left: 30px;
} */
/* .feauture h3, */
/* .feauture p {
  margin: 0;
} */
/* .feauture h3 {
  margin-bottom: 10px;
} */

/* .doing {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .doing h2 {
  margin: 0;
  margin-bottom: 50px;
} */
/* .doing-cards {
  display: flex;
  margin-left: -30px;
} */
/* .doing-cards .thumb, */
/* .portfolio-thumb {
  height: 294px;
  position: relative;
} */
/* .doing-cards .thumb img, */
/* .portfolio-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* .card-overlay {
  width: 370px;
  height: 70px;
  background-color: var(--image-overlay);
  position: absolute;
  bottom: 0;
  padding-top: 27px;
} */
/* .card-overlay p {
  color: var(--text-white);
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  text-align: center;
  margin: 0;
  line-height: 16, 41px;
} */
/* .doing li {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
} */
/* .team h2 {
  margin: 0;
  margin-bottom: 50px;
} */
/* .team-list {
  display: flex;
  margin-left: -30px;
} */
/* .team-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: var(--text-white);
  border-radius: 0 0 4px 4px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
} */
/* .teammate-name {
  margin: 0;
  text-align: center;
  margin-top: 30px;
} */
/* .position {
  text-align: center;
  margin: 0;
  margin-top: 10px;
} */
/* footer .logo > p {
  margin: 0;
} */
/* footer .container > .logo {
  display: inline-block;
  margin-bottom: 20px;
} */
/* .footer-contacts li {
  margin-top: 9px;
}
address a {
  display: inline-block;
  line-height: 24px;
} */

/* .filter-buttons {
  display: flex;
  justify-content: center;
  margin-left: -8px;
  margin-bottom: 50px;
} */
/* .filter-buttons li {
  margin-left: 8px;
} */
/* .filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
} */
/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
} */
/* .portfolio-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
} */
/* .portfolio-card h3,
.portfolio-card p {
  margin: 0;
} */
/* .card-content {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
  border-top: none;
} */

/* .contact-links .contact-link {
  display: flex;
  align-items: center;
} */
/* .contact-links .contact-link svg {
  margin-right: 10px;
  fill: currentColor;
} */
/* .contact-links .contact-link:hover svg {
  fill: var(--light-blue);
} */

/* .icon-container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--icon-container);
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-left: -10px;
} */
/* .social-link-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: background-color 250ms var(--cubic);
} */
/* .social-link-container svg {
  fill: var(--icon-grey);
  transition: fill 250ms var(--cubic);
} */
/* .social-link-container:hover svg,
.social-link-container:focus svg {
  fill: var(--text-white);
} */
/* .social-link-container:hover,
.social-link-container:focus {
  background-color: var(--light-blue);
} */
/* .clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-grey-dark);
  margin: 0;
  margin-bottom: 50px;
} */
/* .client-container {
  display: flex;
  width: 170px;
  height: 90px;
  margin-left: 30px;
  color: var(--icon-grey);
} */
/* .clients-list {
  display: flex;
  justify-content: center;
  margin-left: -30px;
} */
/* .client-link {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--icon-grey);
  transition: border 250ms var(--cubic), color 250ms var(--cubic);
} */
/* .client-link:link,
.client-link:visited {
  color: inherit;
} */
/* .client-link svg {
  fill: currentColor;
} */
/* .client-link:hover,
.client-link:focus {
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
} */
/* footer .container {
  display: flex;
  align-items: baseline;
} */
/* .footer-social {
  margin-left: 70px;
} */
/* .footer-social p {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  color: var(--text-white);
  margin: 0;
  letter-spacing: 0.03em;
} */
/* footer .social-list {
  margin-top: 20px;
  justify-content: left;
}
footer .social-link-container {
  background-color: var(--footer-social);
}
.footer-social svg {
  fill: var(--text-white);
} */
/* .portfolio-overlay {
  width: 370px;
  height: 294px;
  background-color: var(--portfolio-overlay);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  padding: 63px 24px;
} */
/* .portfolio-thumb {
  overflow: hidden;
} */
/* .portfolio-overlay p {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--text-white);
  font-style: normal;
  font-weight: 400;
} */
/* .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--pop-up-overlay);
  transition: opacity 250ms var(--cubic);
} */
/* .pop-up {
  position: absolute;
  width: 528px;
  background-color: var(--text-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  transition: transform 250ms var(--cubic);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */
/* .close-button {
  padding: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid var(--close-btn-border);
  border-radius: 50%;
  background-color: var(--text-white);
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .close-btn-cross {
  transition: fill 250ms var(--cubic);
} */
/* .close-button:hover .close-btn-cross,
.close-button:focus .close-btn-cross {
  fill: var(--input-blue);
} */
/* .is-hidden {
  opacity: 0;
  pointer-events: none;
} */
/* .is-hidden .pop-up {
  transform: translate(-50%, -50%) scale(0.8);
} */

/* .pop-up-heading {
  margin: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
} */
/* .form-field {
  display: block;
  margin-top: 28px;
  position: relative;
} */
/* .form-input {
  width: 100%;
  padding-left: 42px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;

  transition: border 250ms var(--cubic);
} */
/* .form-input:focus {
  border: 1px solid var(--input-blue);
} */
/* .form-input:focus ~ .form-icon {
  fill: var(--input-blue);
} */
/* .form-label {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: var(--input-lable);
  margin-bottom: 4px;
  position: absolute;
  transform: translateY(-18px);
} */
/* .form-input::placeholder {
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: var(--input-placeholder);
} */
/* .form-comment {
  height: 120px;
} */
/* .comment-field {
  resize: none;
  padding: 12px 16px;
  height: 120px;
} */
/* .form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
} */
/* .form-conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  color: var(--text-grey-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
} */
/* .conditions-link {
  text-decoration: underline;
  color: var(--input-blue);
} */
/* .checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--text-grey-dark);
  background-size: contain;
  background-origin: border-box;
  transition: border-color 250ms var(--cubic),
    backround-color 250ms var(--cubic);
} */
/* .checkbox:checked + .checkbox-icon {
  border-color: var(--input-blue);
  background-color: var(--input-blue);
  background-image: url(../images/icon-check.svg);
} */
/* .conditions-label {
  margin-left: 9px;
} */
/* .form-button {
  font-size: 16px;
  line-height: 1.86em;
  color: var(--text-white);
  font-weight: bold;
  background-color: var(--light-blue);
  border: none;
  letter-spacing: 0.06em;

  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--cubic);
} */
/* .form-button:hover,
.form-button:focus {
  background-color: var(--form-button-active);
} */
/* 
.subscribe-label {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  color: var(--text-white);
  margin: 0;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
} */
/* .subscribe-input {
  width: 358px;
  border: 1px solid var(--subscribe-input-border);
  background-color: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 15px 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--link-grey);
  letter-spacing: 0.03em;
} */
/* .subscribe-button {
  font-size: 16px;
  line-height: 30px;
  color: var(--text-white);
  font-weight: bold;
  background-color: var(--light-blue);
  border: none;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
/* .footer-subscribe {
  margin-left: auto;
} */
/* .icon-send {
  fill: var(--text-white);
  margin-left: 10px;
}
.subscribe-form {
  display: flex;
  align-items: center;
} */
