.hero {
  background-color: $hero-bg;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 600px;
  background: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36em;
  color: $text-white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: 0;

  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
